spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gestion_stock?createDatabaseIfNotExist=true&userSSL=false&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  ## Specify DBMS
  jpa:
    database: MYSQL
    show-sql: true
#    properties:
#     hibernate:
#       session_factory:
#         interceptor: com.jamli.gestiondestoks.interceptor.Interceptor

    # Hibernate DDL Auto (create, create-drop, update)
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQL5Dialect

    mvc:
      pathmatch:
        matching-strategy: ANT_PATH_MATCHER

server:
  port: 8081
flickr:
   apiKey: 2ed873b05efd4a2e2fc3f0e8a57aaa95
   apiSecret: e845078e08a6afc5
   appKey: 72157720891653477-01d2f037d46e84e8
   appSecret: 89e5c8f9911c7411
